@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 225px;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 24px;
}

.links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-1 {
    display: flex;
    justify-content: space-between;
    gap: 96px;
    padding: 96px 225px 128px 225px;
    background-color: #1f2937;
}

.signup-1 .text-container {
    display: flex;
    flex-direction: column;
}

.signup-1 .text-container h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 10px;
}

.signup-1 .text-container p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.signup-btn {
    background-color: #3882f6;
    border: none;
    border-radius: 6px;
    padding: 10px 0;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    width: 132px;
}

.img-container {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    background-color: #e5e7eb60;
    width: 560px;
    height: 275px;
}