@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 24px;;
}

.links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: #1f2937;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.signup-1 .text-container h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.signup-1 .text-container p {
    font-size: 18px;
    color: #e5e7eb;
}

.signup-btn {
    background-color: #3882f6;
    border: none;
    border-radius: 3px;
    padding: 5px 0;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    width: 128px;
}